<div class="wid-cnt">
    <div class="widgetContainer">
        <div class="widgetHeader cursorPointer">
          <div class="widgetTitle">
              Barbati
          </div>
        </div>

        <div class="widgetContent">
          <div class="avgScore">
            <div class="doughnutChartContainerCentered">
              <canvas id="doughnut" height="280" class="drawValue"></canvas>
              <div class="chartScore">
                {{ numarBarbati }}
              </div>
              <!-- <div class="row underChartDivs">
                <div class="col innerChartLabel leftLabel">
                  {{ displayLabels["chartBase"] }}
                  <div class="innerChartValue">
                    {{ avgScoreChartData.base | number: "1.2-2" }}
                  </div>
                </div>
                <div class="col innerChartLabel rightLabel">
                  {{ displayLabels["chartGoal"] }}
                  <div class="innerChartValue">
                    {{ avgScoreChartData.goal | number: "1.2-2" }}
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="weeklyChart">
            <!-- <div class="widgetTitle noMarginLeft">
                Progres
            </div> -->
            <!-- <div class="chartContainer">
              <canvas id="myChart" height="300"></canvas>
            </div> -->
          </div>
        </div>
      </div>

      <div class="widgetContainer">
          <div class="widgetHeader cursorPointer">
            <div class="widgetTitle">
                Femei
            </div>
          </div>

          <div class="widgetContent">
            <div class="avgScore">
              <div class="doughnutChartContainerCentered">
                <canvas id="doughnut1" height="280" class="drawValue"></canvas>
                <div class="chartScore">
                  {{ numarFemei }}
                </div>
                <!-- <div class="row underChartDivs">
                  <div class="col innerChartLabel leftLabel">
                    {{ displayLabels["chartBase"] }}
                    <div class="innerChartValue">
                      {{ avgScoreChartData.base | number: "1.2-2" }}
                    </div>
                  </div>
                  <div class="col innerChartLabel rightLabel">
                    {{ displayLabels["chartGoal"] }}
                    <div class="innerChartValue">
                      {{ avgScoreChartData.goal | number: "1.2-2" }}
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="weeklyChart">
              <!-- <div class="widgetTitle noMarginLeft">
                  Progres
              </div> -->
              <!-- <div class="chartContainer">
                <canvas id="myChart1" height="300"></canvas>
              </div> -->
            </div>
          </div>
      </div>

      <div class="widgetContainer">
          <div class="widgetHeader cursorPointer">
            <div class="widgetTitle">
                Varsta medie
            </div>
          </div>

          <div class="widgetContent">
            <div class="avgScore">
              <div class="doughnutChartContainerCentered">
                <canvas id="doughnut2" height="280" class="drawValue"></canvas>
                <div class="chartScore">
                  {{ varstaMedie | number: "1.2-2" }}
                </div>
                <!-- <div class="row underChartDivs">
                  <div class="col innerChartLabel leftLabel">
                    {{ displayLabels["chartBase"] }}
                    <div class="innerChartValue">
                      {{ avgScoreChartData.base | number: "1.2-2" }}
                    </div>
                  </div>
                  <div class="col innerChartLabel rightLabel">
                    {{ displayLabels["chartGoal"] }}
                    <div class="innerChartValue">
                      {{ avgScoreChartData.goal | number: "1.2-2" }}
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="weeklyChart">
              <!-- <div class="widgetTitle noMarginLeft">
                  Progres
              </div> -->
              <!-- <div class="chartContainer">
                <canvas id="myChart2" height="300"></canvas>
              </div> -->
            </div>
          </div>
      </div>
</div>

