<div class="give-modal-cnt">
  <!-- <div class="modal-header no-padding">
    <button type="button" class="close col-md-2" aria-label="Close" (click)="_activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="logo-close col-md-12">
      <img class="mega-logo col-md-12" src="" alt="" />
    </div>
    <div class="title col-md-12">
      <h4 class="modal-title"></h4>
    </div>
  </div> -->
  <div id='surveyElement'></div>
  <!-- <form #form="ngForm" [formGroup]="giveForm" novalidate>
    <div class="modal-boy">
      <div class="form-group">
        <label class="col-md-4">Numele brandului</label>
        <input type="text" class="form-control" formControlName="brand_name" #brand_name />
      </div>
      <div *ngIf="giveForm.controls['brand_name'].invalid && (giveForm.controls['brand_name'].dirty || giveForm.controls['brand_name'].touched)"
        class="alert alert-danger">
        <div *ngIf="giveForm.controls['brand_name'].errors.required">
          Numele brandului este necesar.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">De ce va place/nu va place brandul? </label>
        <input type="text" class="form-control" formControlName="brand_description" #brand_description />
      </div>
      <div *ngIf="giveForm.controls['brand_description'].invalid && (giveForm.controls['brand_description'].dirty || giveForm.controls['brand_description'].touched)"
        class="alert alert-danger">
        <div *ngIf="giveForm.controls['brand_description'].errors.required">
          Este necesara o opinie.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Adresa de email </label>
        <input type="text" class="form-control" formControlName="user_email" #user_email />
      </div>
      <div *ngIf="giveForm.controls['user_email'].invalid && (giveForm.controls['user_email'].dirty || giveForm.controls['user_email'].touched)"
        class="alert alert-danger">
        <div *ngIf="giveForm.controls['user_email'].errors.required">
          Adresa dvs de email va rugam!
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Un numar de telefon </label>
        <input type="text" class="form-control" formControlName="user_phone" #user_phone />
      </div>
      <div *ngIf="giveForm.controls['user_phone'].invalid && (giveForm.controls['user_phone'].dirty || giveForm.controls['user_phone'].touched)"
        class="alert alert-danger">
        <div *ngIf="giveForm.controls['user_phone'].errors.required">
          Numarul dvs de telefon va rugam!
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="giveForm.pristine || giveForm.invalid" class="btn btn-success btn-donate"
        (click)="_activeModal.close(form.value)">
        Doneaza cuvinte
      </button>
    </div>
  </form> -->
</div>


<!-- <div class="list-group">
      <div class="list-group-item">
        <label class="opinion-input-title" for="opinion-input">Iti place?</label>
        <input type="radio" class="opinion-input" name="opinion" value="da" checked ngModel />DA
        <input type="radio" class="opinion-input" name="opinion" value="nu" ngModel />NU
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-md-12">
            <input type="text" name="reason" placeholder="un motiv sau doua pentru care iti place acest brand" ngModel />
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-md-12">
            <input type="text" name="lastUse" class="form-control" placeholder="cand ai folosit ultima oara acest brand"
              ngModel />
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-md-12">
            <input type="email" name="email" class="form-control" placeholder="te rugam sa ne dai e-mail-ul tau"
              ngModel />
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-md-12">
            <input type="text" name="phone" class="form-control" placeholder="...si telefonul" ngModel />
          </div>
        </div>
      </div>
    </div> -->
