@import 'client/app/stylesheets/_variables';

.loading-spinner {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: $loading-bckg;
}

mat-progress-spinner {
  margin: 20% 0 auto;
}

.loading-text {
  margin-top: rem(20);
  font-family: Arial;
  font-size: 12px;
  text-align: center;
  color: $black;
}
